#environment file
.env

# Backup files
*.backup
requirements_original.txt

#chroma_db
vectorstore/chroma_db

#localData
localData

#sources

sources/web/java
sources/web/playwright
sources/web/selenium

#Python cache
__pycache__/

.deepeval/





chroma_db/chroma.sqlite3
